root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 100

[*.kt]
ktlint_code_style = android_studio
ktlint_function_naming_ignore_when_annotated_with=Composable
ktlint_standard_spacing-between-declarations-with-annotations=disabled

[*.kts]
ktlint_code_style = intellij_idea
